<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê dữ liệu</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="mt-5">Nhập Dữ Liệu Thống Kê</h2>
    <form id="dataForm" action="/insert/statistical" method="post">
        <div class="form-group">
            <input type="number" class="form-control" id="dataField1" name="successfulproject" placeholder="Dự án thành công" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="dataField2" name="participants" placeholder="Người tham gia" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="dataField3" name="donationamount" placeholder="Số tiền quyên góp" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="dataField4" name="eventsorganized" placeholder="Sự kiện tổ chức" required>
        </div>
        <button type="submit" class="btn btn-primary">Hiển thị</button>
    </form>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
